# URL de conexión a base de datos PostgreSQL en Supabase
DATABASE_URL=postgresql://postgres.awlbmighexaxugtiqzyg:[YOUR-PASSWORD]@aws-0-us-west-2.pooler.supabase.com:6543/postgres

# URL del Frontend (Opcional, para configuración CORS restrictiva)
FRONTEND_URL=https://martinzapanaberrospi.github.io
